html {overflow-y: scroll}
code {font-family: Consolas}
body{max-width:1200px;margin:40px auto;padding:0 10px;font:14px/1.5 Consolas;color:#444}h1,h2,h3{line-height:1.2}@media (prefers-color-scheme: dark){body{color:white;background:#444}a:link{color:#5bf}a:visited{color:#ccf}}
p > code{color: #FFFFFF; background:#272822; padding:2px; font-family: Consolas}
pre{color: #FFFFFF; background:#272822; padding:24px; white-space: pre-wrap}
article{padding:24px 0}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}