<article>
	<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
	<b>时间：</b><time>{{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}</time> |
	<b>分类：</b>
	{{ range .Params.categories }}
	<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}.</a>
	{{ end }} |
	<b>标签：</b>
	{{ range .Params.tags }}
		<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}.</a>
	{{ end }}
	<div>
		{{ .Summary }}
		{{ if .Truncated }}
			<a href="{{ .Permalink }}">阅读全文...</a>
		{{ end }}
	</div>
</article>
